PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `users` (`id` integer PRIMARY KEY AUTOINCREMENT,`created_at` datetime,`updated_at` datetime,`deleted_at` datetime,`username` text NOT NULL,`password` text NOT NULL,`email` text NOT NULL,`admin` numeric DEFAULT false,CONSTRAINT `uni_users_username` UNIQUE (`username`),CONSTRAINT `uni_users_email` UNIQUE (`email`));
INSERT INTO users VALUES(1,'2025-03-12 21:07:14.3097562+02:00','2025-03-12 21:07:14.3097562+02:00',NULL,'asdas','$2a$10$MZuaEggPWtZfJH7mHq/FVuGag1cc0DfCdetDH81jFpC..7dlf0eYC','asdad@gmail.com',0);
INSERT INTO users VALUES(2,'2025-03-21 10:42:56.44809+02:00','2025-03-21 10:42:56.44809+02:00',NULL,'asdas1','$2a$10$WpiTjfNFYWSWCalxMiULtODE3DLTwk4KdczkNN9GC9fim9Pr19Xli','asdasda@gmail.com',0);
INSERT INTO users VALUES(3,'2025-03-21 10:54:25.4720758+02:00','2025-03-21 10:54:25.4720758+02:00',NULL,'asdas12','$2a$10$6F4qQVpEfOiC6NxyJ2quJO8bCP1tQhfhX9UTO91hUzn/UJ4gVwHgm','Oltean.Se.Simion@student.utcluj.ro',0);
CREATE TABLE `agents` (`id` integer PRIMARY KEY AUTOINCREMENT,`created_at` datetime,`updated_at` datetime,`deleted_at` datetime,`user_id` integer NOT NULL,`name` text NOT NULL,`characteristics` text NOT NULL,CONSTRAINT `fk_agents_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE);
INSERT INTO agents VALUES(1,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,18,'LunaAI','Fashion & lifestyle content agent');
INSERT INTO agents VALUES(2,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,18,'VoxBrand','Business interaction automation bot');
INSERT INTO agents VALUES(3,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,18,'EchoPersona','Tech review and product AI personality');
CREATE TABLE `clients` (`id` integer PRIMARY KEY AUTOINCREMENT,`created_at` datetime,`updated_at` datetime,`deleted_at` datetime,`agent_id` integer NOT NULL,`name` text NOT NULL,`start_date` datetime NOT NULL,`score` real DEFAULT 0,CONSTRAINT `fk_agents_clients` FOREIGN KEY (`agent_id`) REFERENCES `agents`(`id`) ON DELETE CASCADE ON UPDATE CASCADE);
INSERT INTO clients VALUES(1,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,'Alex Carter','2024-01-11',2.16000000000000014);
INSERT INTO clients VALUES(2,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,'Jordan Lee','2024-01-12',3.10999999999999987);
INSERT INTO clients VALUES(3,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,'Taylor Nguyen','2024-01-13',4.04999999999999982);
CREATE TABLE `messages` (`id` integer PRIMARY KEY AUTOINCREMENT,`created_at` datetime,`updated_at` datetime,`deleted_at` datetime,`agent_id` integer NOT NULL,`client_id` integer NOT NULL,`date` datetime,`content` text NOT NULL,`type` text NOT NULL,CONSTRAINT `fk_clients_messages` FOREIGN KEY (`client_id`) REFERENCES `clients`(`id`) ON DELETE CASCADE ON UPDATE CASCADE,CONSTRAINT `fk_agents_messages` FOREIGN KEY (`agent_id`) REFERENCES `agents`(`id`) ON DELETE CASCADE ON UPDATE CASCADE);
INSERT INTO messages VALUES(1,'2024-04-01 09:12:00','2024-04-01 09:12:00',NULL,1,1,'2024-04-01 09:12:00','Hi Alex Carter, welcome aboard! Excited to explore style ideas with you.','AGENT_TO_CLIENT');
INSERT INTO messages VALUES(2,'2024-04-01 15:30:00','2024-04-01 15:30:00',NULL,1,1,'2024-04-01 15:30:00','Alex Carter, I''ve attached this week''s campaign mood board. Thoughts?','AGENT_TO_CLIENT');
INSERT INTO messages VALUES(3,'2024-04-02 08:45:00','2024-04-02 08:45:00',NULL,1,1,'2024-04-02 08:45:00','This looks gorgeous! Should we keep the pastel theme?','CLIENT_TO_AGENT');
CREATE TABLE `transactions` (`id` integer PRIMARY KEY AUTOINCREMENT,`created_at` datetime,`updated_at` datetime,`deleted_at` datetime,`agent_id` integer NOT NULL,`client_id` integer NOT NULL,`amount` real NOT NULL DEFAULT 0,`date` datetime,CONSTRAINT `fk_agents_transactions` FOREIGN KEY (`agent_id`) REFERENCES `agents`(`id`) ON DELETE CASCADE ON UPDATE CASCADE,CONSTRAINT `fk_clients_transactions` FOREIGN KEY (`client_id`) REFERENCES `clients`(`id`) ON DELETE CASCADE ON UPDATE CASCADE);
INSERT INTO transactions VALUES(1,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,1,35.5,'2025-05-26 10:33:42');
INSERT INTO transactions VALUES(2,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,2,212.0,'2025-05-26 10:33:42');
INSERT INTO transactions VALUES(3,'2025-05-26 10:33:42','2025-05-26 10:33:42',NULL,1,3,66.5,'2025-05-26 10:33:42');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',18);
INSERT INTO sqlite_sequence VALUES('agents',6);
INSERT INTO sqlite_sequence VALUES('clients',29);
CREATE INDEX `idx_users_deleted_at` ON `users`(`deleted_at`);
CREATE INDEX `idx_agents_deleted_at` ON `agents`(`deleted_at`);
CREATE INDEX `idx_clients_deleted_at` ON `clients`(`deleted_at`);
CREATE INDEX `idx_messages_deleted_at` ON `messages`(`deleted_at`);
CREATE INDEX `idx_transactions_deleted_at` ON `transactions`(`deleted_at`);
COMMIT;
